<footer>
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="footer-col-1">
          <h3>Newsletter Registration</h3>
          <form action="//wireload.us1.list-manage.com/subscribe/post?u=adb4f752497b0d86b3b1b79d7&amp;amp;id=5c47388076" class="form-newsletter" id="mc-embedded-subscribe-form" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank">
            <div class="input-append">
              <input class="span3 newsletter-input" name="EMAIL" placeholder="Email Address" type="text">
              <button class="btn" type="submit">Sign Up</button>
            </div>
          </form>
        </div>
      </div>
      <div class="span4">
        <div class="footer-col-2">
          <address>
            <i class="icon-map-marker"></i> <a href="https://www.screenly.io"><strong>Screenly, Inc.</strong></a>
            <div>16192 Coastal Highway</div>
            <div><span>Lewes, DE</span> <span>19958</span></div>
            <div>USA</div>
          </address>
        </div>
      </div>
      <div class="span4">
        <div class="footer-col-3">
          <link href="{{site.production_url}}">
          <ul class="social">
            <li class="facebook"><a href="{{site.social.facebook}}">Facebook</a></li>
            <li class="twitter"><a href="{{site.social.twitter}}">Twitter</a></li>
            <li class="google"><a href="{{site.social.google}}">Google</a></li>
            <li class="youtube"><a href="{{site.social.youtube}}">YouTube</a></li>
            <li class="medium"><a href="{{site.social.medium}}">Medium</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="colophon">
    <div class="container">
      <div class="row">
        <p>© 2013-2017 Screenly, Inc. Screenly reel photos by ^bchu, VinothChandar and deccus on Flickr and surely, argus456, lynnc, mike62, catalin82, white98sh, leon-nanda and bubor on sxc.hu.</p>
      </div>
    </div>
  </div>
</footer>