body.tour {
    header {
        margin-top: 24px * 2;
        margin-bottom: 24px * 2;

        h1 {
            text-align: center;
        }
    }

    article {
        padding: 24px*2 0;
        border-bottom: 1px solid #c4c4c4;

        &:last-of-type {
            border-bottom: none;
        }

        img.border {
            margin-bottom: 24px;
            box-shadow: 0 0px 1px 0 #777;
        }

        h2 {
            font-size: 14px * 2;
            color: #454545;
        }

        ul {
            margin-left: 0;
            list-style: none;
        }
    }
}